#connectButton{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container{
  padding: 40px;
}

#loading{
  display: block;
}

#secondary{
  display: none;
}
/* .footer{
  position: fixed;
  bottom: 0;

} */